
@{
    ViewBag.Title = "mainSub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <center>
        <h1><b>Pubudu Education Centre</b></h1>
        <h2>Subjects</h2>

    </center>
</div>

<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        margin-bottom: 3px;
        margin-left: 3px;
        opacity: 1;
        transition: 0.3s;
    }

        .column:hover {
            opacity: 0.6;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="row">

    <a href="@Url.Action("SubjectView", "Subjects")">
        <div class="column" style="background-color:#f39c12; text-align: center">
            <h3 style="margin-left: auto; color:white; font-size:30px; font-weight:bold">Subjects</h3><br />
            <img src="~/img/subjectsmain.png" style="display: block; height: 180px; width: 180px; margin: auto auto auto auto" />
        </div>
    </a>
    <a href="@Url.Action("Exams", "Exam")">
        <div class="column" style="background-color:#f39c12; text-align: center">
            <h3 style="margin-left: auto; color:white; font-size:30px; font-weight:bold">Exams</h3><br />
            <img src="~/img/exams.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
        </div>
    </a>
    <a href="@Url.Action("Index", "Marks")">
        <div class="column" style="background-color:#f39c12; text-align: center">
            <h3 style="margin-left: auto; color:white; font-size:30px; font-weight:bold">Marks</h3><br />
            <img src="~/img/marks.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
        </div>
    </a>

</div>




